html,
body{
background-color: rgb(255, 255, 255);
font-family: "Rubik", sans-serif;;
}
header{
    background-color: #390fce;
    height: 30px;

}
.header a{
    color: aliceblue;
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
.ul li{
    background-image: url(image2.png);
    background-repeat: no-repeat;
    background-size:2% ;
    padding-left:15px ;
}
button{
    background-color: blue;
    color: aliceblue;
    height:35px;
    border-radius: 13%;
}
footer{
    background-color: rgb(127, 163, 255);
    height: 30px;
}
.footer a{
    color: rgb(34, 0, 120);
    text-decoration: none;
}